$background-color: #009688;
$font-judul: Georgia, 'Times New Roman', Times, serif;
$font-family: 'Montserrat', sans-serif;
$text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

.tentang-kami {
  font-family: $font-judul;
  font-weight: bold;
}

@for $i from 1 through 6 {
  .txt-seiya:nth-child(#{$i}) {
    background-color: $background-color;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-family: $font-family;
    text-align: center;
    font-weight: bold;
    text-shadow: $text-shadow;
  }
}


.contoh-if {
  @if 1 + 1 == 2 {
    background-color: #f44336;
  } @else {
    background-color: #03a9f4;
  }
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  font-family: $font-family;
  text-align: center;
  font-weight: bold;
  text-shadow: $text-shadow;
}


