$font-anggit: 'Lilita One', cursive;
$color-anggit: #94A684;
$awal-width: 5px;
$dua-width: 5px;

@function atur-width($n) {
    @return $n * $awal-width + ($n - 1) * $dua-width;
}

.width-anggit {
    font-size: 35px;
    padding-top: atur-width(2);
    padding-bottom: atur-width(3);
    color: $color-anggit;
    font-family: $font-anggit;
}

#text-flicker-in-glow {
	-webkit-animation: text-flicker-in-glow 4s linear infinite both;
	        animation: text-flicker-in-glow 4s linear infinite both;
}