// Editan Anggit
$font-anggit:'Pixelify Sans', cursive;

.text-anggit {
    font-family: $font-anggit, 'Fuggles', cursive, 'Pacifico', cursive;
}
.warna-anggit {
    $text-color: white;
    color: $text-color;
}
// Editan Anggit