// Editan Anggit
$font-anggit:'Pixelify Sans', cursive;

.text-anggit {
    font-family: $font-anggit, 'Fuggles', cursive, 'Pacifico', cursive;
}
.warna-anggit {
    $text-color: white;
    color: $text-color;
}
// Editan Anggit

// EDITAN BIMA
$fadhilah:red;

.text-bima{
    color : $fadhilah;
}

// EDITAN BIMA

// editan adi
$font-adi: 'Young Serif', serif;

.text-adi {
    font-family: $font-adi;
}
.warna-adi {
    $color-adi: #ff2e2e;
    color: $color-adi;
}
// editan adi
