// SASS editan Anggit
$anggit: rgb(42, 60, 255);

.warna-anggit {
    color: $anggit;
}
// SASS editan Anggit

// SASS editan Seiya
$Seiya: yellow;

.selamat{
    color: $Seiya;
}
// SASS editan Seiya

// SASS editan Fadhilah
$bima: rgb(115, 255, 0);

.buatan-bima {
    color: $bima;
}
// SASS editan Fadhilah

