// SASS editan Anggit
$anggit: rgb(42, 60, 255);

.warna-anggit {
    color: $anggit;
}
// SASS editan Anggit

// SASS editan Seiya
$Seiya: yellow;

.selamat{
    color: $Seiya;
}
// SASS editan Seiya

// SASS editan Fadhilah
$bima: rgb(115, 255, 0);

.buatan-bima {
    color: $bima;
}
// SASS editan Fadhilah

// Adi Kusuma
$adi: orange;
.adi-color {
    color: $adi;
}
// SASS: Ubah warna Contact Address menjadi orange

// Nurul Anam
$nurul: #2ca71c;
.nurul-color {
    background-color: $nurul;
}
// SASS color button