// SASS editan Anggit
$anggit: rgb(42, 60, 255);

.warna-anggit {
  color: $anggit;
}

$font-anggit: 'Lilita One', cursive;
$color-anggit: #94a684;
$awal-width: 5px;
$dua-width: 5px;

@function atur-width($n) {
  @return $n * $awal-width + ($n - 1) * $dua-width;
}

.width-anggit {
  font-size: 35px;
  padding-top: atur-width(2);
  padding-bottom: atur-width(3);
  color: $color-anggit;
  font-family: $font-anggit;
}

$font-anggit: 'Pixelify Sans', cursive;

.text-anggit {
  font-family: $font-anggit, 'Fuggles', cursive, 'Pacifico', cursive;
}
.warna-anggit {
  $text-color: white;
  color: $text-color;
}
// SASS editan Anggit

// SASS editan Seiya
$Seiya: yellow;

.selamat {
  color: $Seiya;
}

$font-seiya: 'lucida bright', lucida;
$seiya: blue;

.txt-seiya {
  font-family: $font-seiya;
  color: $seiya;
}

$seiya: red;

.text-seiya {
  color: $seiya;
}
// SASS editan Seiya

// SASS editan Fadhilah
$bima: rgb(115, 255, 0);

.buatan-bima {
  color: $bima;
}

$bima: #f6ffde;

.teks-bima {
  color: $bima;
}

$font-bima: 'Young Serif', serif;

.text-bima {
  font-family: $font-bima;
}

$fadhilah: red;

.text-bima {
  color: $fadhilah;
}
// SASS editan Fadhilah

// Adi Kusuma
$adi: orange;
.adi-color {
  color: $adi;
}

// Jarak huruf
$spacing: 10px;

// Fungsi lebar
@function lebar($a, $b) {
  @return $a + $b;
}

.width {
  // Lebar = 150px
  width: lebar(100px, 50px);
  letter-spacing: $spacing;
}

$font-adi: 'Young Serif', serif;

.text-adi {
  font-family: $font-adi;
}
.warna-adi {
  $color-adi: #ff2e2e;
  color: $color-adi;
}
// SASS: Ubah warna Contact Address menjadi orange

// Nurul Anam
$nurul: #2ca71c;
.nurul-color {
  background-color: $nurul;
}

$warna-anam: lighten(#ffc500, 15%);

#color-anam {
  color: $warna-anam;
}
// SASS color button

$anam: 2px solid white;
.anam-edit {
  border: $anam;
}
