body {
  background-image: url(../../../assets/images/Lain-lain/bg-bakso.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
  font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
  color: #f4610c;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.image-about {
  max-width: 100%;
  height: auto;
  border: 5px solid #f4610c;
  border-radius: 10px;
}

.text {
  text-align: center;
}


  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

  .teks-judul,h5 {
    animation: blink 1.5s infinite;
    color: #27005D; 
  
}
.text h2 {
  font-family: 'Montserrat', sans-serif;
  color: #27005D;
  font-size: 24px;
}

.text-bima:hover {
  color: rgb(123, 45, 67); /* Ganti dengan warna RGB yang Anda inginkan */
  transition: color 0.3s; /* Efek transisi warna untuk perubahan yang lebih halus */
}

.text p {
  font-family: 'Poppins', sans-serif;
  /* color: #555; */
  font-size: 16px;
  line-height: 1.5;
}

/* Styling FAQ  */
/* .faq-box {
  background-color: dimgrey;
  color:white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 20px;
}

.faq-box h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: gold;
}

.faq-box ul {
  list-style: none;
  padding: 0;
}

.faq-box li {
  margin-bottom: 20px;
}

.faq-box h2 {
  font-size: 1.5rem;
} */
